* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    HelveticaNeue, "游ゴシック体", YuGothic, "游ゴシック Medium",
    "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "Sogoe UI", Verdana,
    "メイリオ", Meiryo, sans-serif;
  color: #333;
}
b,
strong {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue",
    HelveticaNeue, "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
    "Sogoe UI", Verdana, "メイリオ", Meiryo, sans-serif;
}
button {
  border: none;
}
